.todoView {
  width: 500px;
  border: 1px black solid;
  padding: 10px;
}

form {
  width: 300%;
  border: 1px black solid;
  padding: 30px;
  object-position: center;
}

#formInput {
  width: 30rem;
}

.todo {
    border-radius: 0;
    max-width: 300px;
    border: 1px rgba(0, 0, 0, 0.246) solid;
    /* height: 50vh; */
    /* width: 55vh; */
    max-height: 62vh;
    margin: 0px 0px, 16px;
    text-align: left;
  }

  .todoTasks {
    background-color: rgb(245, 236, 236, .5);
    /* background-color: inherit; */
    color: inherit;
    /* background-color: 500%; */
    /* background-blend-mode:color-dodge; */
    border-radius: 0;
    max-width: 300px;
    border: 1px rgba(0, 0, 0, 0.246) solid;
    /* height: 50vh; */
    /* width: 55vh; */
    max-height: 50vh;
    overflow-y: scroll;
    scrollbar-color: black, white;
    margin: 0px 0px, 16px;
  }

  .top {
    border-bottom: 2px solid #cacaca;
  }

  .card-section {
    object-position: center;
  }

  #todo-heading {
    margin-left: 30px;
  }
  
  .divider {
    
    border-bottom: 1px solid #cacaca;
    background: inherit;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:-ms-grid;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 10px;
  }
  
.myHeader {
background-color: rgb(245, 236, 236, .75);
/* background-color: red; */
}

  .todo-list-card .card-divider .close-button {
    position: inherit;
  }
  
  .todo-list-card ul {
    list-style-type: none;
    margin: 0;
  }
  
  .todo-list-card ul li {
    margin: 10px 0;
    padding: 10px;
  }
  
  /* .divider ul input[type="checkbox"] {
    position: absolute;
    visibility: hidden;
    left: -99999px;
  } */
  
  .todo-list-card ul input[type="checkbox"] ~ label {
    position: relative;
    margin-left: 2rem;
  }
  
  .todo-list-card ul input[type="checkbox"] ~ label::after {
    background: #fefefe;
    border: 1px solid #e6e6e6;
    content: '';
    display: block;
    height: 20px;
    left: -2rem;
    width: 20px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-80%);
        -ms-transform: translateY(-80%);
            transform: translateY(-80%);
  }
  
  .todo-list-card ul input[type="checkbox"]:checked ~ label:after {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 18px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f00c";
    color: #1779ba;
    border: 1px solid #1779ba;
  }
  
  