#myHeaderDiv {
  /* border: 2px black solid; */
  color: black;
  font-weight:900;
  /* width:100%; */
  /* min-height: 100px; */
  background-repeat: no-repeat;
  background-image: linear-gradient(to right,rgba(21, 255, 0, 0.555) 0%,rgba(0, 26, 255, 0.76) 100%),url("../Nav/header-img/background2.jpg");
  background-size: cover;
}

.colorBTN {
  position: relative;
  left: 1050px;
}

.DarkBTN {
  position: relative;
  left: 1000px;
}

.Username {
  position: relative;
  /* left: 40%; */
  top: 10%;
  bottom: 10%;
  /* right: 10%; */
  color: rgb(62, 64, 77);
  /* font: 900 35vmin/50vh cookie, cursive; */
  text-align: center;
  mix-blend-mode: difference;
  filter:hue-rotate(500)
}

.date {
  position: relative;
  /* left: 46%; */
  top: 10%;
  bottom: 10%;
  font-size: 1.5rem;
  /* right: 10%; */
}

.LogoutBTN {
  float: right;
  position: relative; 
  object-position: top;
  
  /* display:flex;  */
  /* justify-content:flex-start;  */
  /* width:100%;  */
  /* padding:0; */
  /* left: 93%;
  bottom: 80%;
  right: 5%; */
  /* margin-left: auto;  */
  /* display: block; */
}

.dropdown {
  position: relative;
  /* bottom: 80%;
  right: 4%; */
  display: inline-block;
  background-color: #1779ba;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.happyQuote {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  color: rgb(241, 241, 205);

}