.header {
  border: 2px black solid;
  min-width: 797px;
  min-height: 100px;
  margin-top: 25vh;
}

.colorBTN {
  position: relative;
  left: 1050px;
}

.DarkBTN {
  position: relative;
  left: 1000px;
}

.Username {
  position: relative;
  left: 400px;
  top: 30px;
}

.LogoutBTN {
  position: relative;
  top: 300px;
}

.dropdown {
  position: relative;
  display: inline-block;
  background-color: grey;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}