body {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-image: url("../components/FormContainer/login-img/background1.jpg");
    background-size: cover;
    background-color: #464646;
}



