.fas {
    float: right;
    cursor: pointer;
}

.fa-pencil-alt {
    position:absolute; 
    margin-left: 50px;
    display: block;
    border-radius: 50%;
    font-size: 20px;
    color: green;
    transition: .5s;
}

.fa-pencil-alt:hover {
    color: #ff10eb;
    box-shadow: 0 0 15px #ffee10;
    text-shadow: 0 0 15px #ffee10;
}