.rbc-calendar {
  /* background-color: rgb(245, 236, 236, .5); */
  box-shadow: inset 0 0 0 1000px rgba(231, 231, 231, 0.8);
}

.rbc-toolbar {
  background-color: rgb(245, 236, 236, .75);
}

/* #calendarStyle {
  border: 1px rgba(116, 114, 114, 0.246) solid;
} */

/* .rbc-date-cell.rbc-current::after {
  content: "";
  position: absolute;
  background: red;
  z-index: -1;
  height: 105px;
  width: 14.2857%;
  margin-left: calc(-14.2857% + 8px);
  margin-top: -8px;
} */

/* CALENDAR CURRENT DAY DIGIT DISPLAY COLOR  */
.rbc-now {
  color: black;
}

/* MODAL OPEN/CLOSE ANIMATION  */
.ReactModal__Overlay {
  opacity: 0;
  transform: translateY(-100px);
  transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateY(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateY(-100px);
}
/* Calendar Agenda Text Color--Not working in dark mode  */
.rbc-agenda-table {
  color: black !important;
}
