.far {
    float: right;
    cursor: pointer;
}

.fa-eye {
    position: relative; 
    display: block;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    color: rgb(162, 162, 214);
    transition: .5s;
}

.fa-eye:hover {
    color: #10a7ff;
    box-shadow: 0 0 15px #ffee10;
    text-shadow: 0 0 15px #ffee10;
}