.sign-up-form {
    border: 1px solid #cacaca;
    padding: 3rem;
    border-radius: .5rem;
    height: 100%;
  }

.sign-up-googleBtn {
  margin-left: 30%;
  width: 40%;
}

.createHeading {
  padding: 13%;
}