.sign-up-form {
    border: 1px solid #cacaca;
    padding: 3rem;
    border-radius: .5rem;
    height: 200%;
    width: 100%;
    background-color: #F7567C;
  }

.sign-up-text {
  position: relative;
  top: 40%;
}
.sign-up-googleBtn {
  margin-left: 10%;
  width: 80%;
  padding-top: 5%;
}

.signupHeading {
  padding: 2%;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 20px;
  /* margin-top: 100%; */
}