.log-in-form {
    border: 1px solid #cacaca;
    padding: 3rem;
    border-radius: .5rem;
    height: 150%;
    width: 100%;
  }

.log-in-text {
  position: relative;
  top: 32%;
}

.googleBtn {
  margin-left: 37%;
  width: 60%;
  padding-top: 5%;
}

.loginHeading {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 40px;
  color: #F7567C;
  padding: 2%;
}

.loginHeadingName {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-style: italic;
  font-size: 70px;
  color: #F7567C;
}

  
  
  