.log-in-form {
    border: 1px solid #cacaca;
    padding: 3rem;
    border-radius: .5rem;
    height: 300%;
    /* width: 100%; */
    background-color: rgb(231, 228, 222);
  }

.log-in-text {
  position: relative;
  top: 32%;
  line-height: 1.2;

}

.loginHeading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-size: 40px;
  color: #2269a3;
  padding: 10%;
}

.loginHeadingName {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  font-style: italic;
  font-size: 70px;
  color: #2269a3;
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.googleBtn {
  margin-left: 31%;
  width: 60%;
  padding-top: 20%;
}  

/* @media (min-width: 900px) {
  .sign-up-form {
      background-color: red;
  }
  .signup {
      background-color: aqua;
  }
} */